name: CI/CD Pipeline

on:

  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Set up Python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

  docker:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Docker login (Azure)
        uses: docker/login-action@v3
        with:
          registry: gaptraiing.azurecr.io
          username: ${{ vars.AZURE_CLIENT_ID }}
          password: ${{ secrets.AZURE_CLIENT_SECRET }} 

      - name: Build and Push Docker Image
        run: |
          docker build -t gaptraiing.azurecr.io/python-cicd:${{ github.sha }} .
          docker push gaptraiing.azurecr.io/python-cicd:${{ github.sha }}
