name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Set up Python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

  docker:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Log in to Docker Hub
        run: echo "${{ secrets.SECRET }}" | docker login -u "${{ vars.MYDOCKER }}" --password-stdin

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ vars.MYDOCKER }}/python-cicd:${{ github.sha }} .
          docker push ${{ vars.MYDOCKER }}/python-cicd:${{ github.sha }}
